<form class="form-horizontal" autocomplete="off" #createEmployeeModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewEmployee' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'EmployeeDetails' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="employeeName">
                        {{ "EmployeeName" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="employeeName" id="employeeName" required maxlength="32"
                            [(ngModel)]="employee.employeeName" #employeeNameModel="ngModel" #employeeName />
                        <abp-validation-summary [control]="employeeNameModel" [controlEl]="employeeName"></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="title">
                        {{ "Title" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="title" id="title" required maxlength="32"
                            [(ngModel)]="employee.title" #titleModel="ngModel" #titleEl />
                        <abp-validation-summary [control]="titleModel" [controlEl]="titleEl">
                        </abp-validation-summary>
                    </div>
                </div> 
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="emailAddress">
                        {{ "EmailAddress" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="emailAddress" id="emailAddress" required
                            maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                            [(ngModel)]="employee.emailAddress" #emailAddressModel="ngModel" #emailAddressEl />
                        <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl">
                        </abp-validation-summary>
                    </div>
                </div> 
            </tab>
        </tabset>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createEmployeeModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>